.App {
  text-align: center;
}

.ais-SearchBox{
  position: sticky;
  top:0;
  z-index: 10;
  padding-top: 20px;
  background-color: white ;
}

.ais-SearchBox-form{
  font-size: 1.2rem;
  height: 4.5rem;
}

.ais-InfiniteHits-item{
  padding: .5rem 1.5rem;
  box-shadow:none;
}